@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sedan", sans-serif;
    background-color: rgb(250, 248, 248);
}

header {
    background-color: rgb(23, 22, 22);
    display: flex;
    justify-content: space-around;
    height: 150px;
    color: rgb(222, 222, 222);
    align-items: center;
}
#logo-img {
    height: 100px;
    width: 100px;
}
#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
}
#links a:hover {
    border-bottom: 3px solid #ffffff;
    color: #00b3ff;
    transform: scale(1.05);
}