@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sedan", sans-serif;
    background-color: rgb(250, 248, 248);
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 150px;
    color: rgb(31, 172, 177);
    align-items: center;
}
#logo-img {
    height: 100px;
    width: 100px;
}
#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#links a {
    text-decoration: none;
    color: #acacac;
    font-size: 1.5rem;
}